body {
    display: grid;
    place-items: center;
    margin: 0;
}

.form-row-group {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    margin-bottom: 12px;
}

.form-label {
    display: grid;
    gap: 2px;
}

.color-name-input {
    padding: 6px;
}

.add-color-button {
    padding: 2px 6px;
    margin-bottom: 6px;
}

.generate-button {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
}